<h3>Account Profile</h3>
</p>
<p>
  <form action="/edit" method="post">
    username: {username}<br />
    E-mail address: <input type="text" name="email_address" value={email_address}><br />
    Gender: <input type="radio" name="gender" value="male" checked/> male
  	<input type="radio" name="gender" value="female"/> female<br />
    Age: <input type="text" name="age" value={age}><br />
    Account type: {account_type}<br />
    Medicare number: {medicare_number}<br />
    <input type="submit" value="Submit">
  </form>
</p>
</center>
